<%- include header %>
<script type="text/javascript">
	var is_now_user = <%- is_now_user%>;
 	
 	var req_user = <%- JSON.stringify(req_user)%>;
	
</script>
<div id = "nav2"></div>
<div class = "container" ng-controller = "homeController" ng-init = "requid = '<%=req_user._id%>' ; completed = false">
	
<div ng-class="{'error':'message-error','success':'message-info'}[alertInfo.type]" ng-cloak ng-if="alertInfo.show"><span>{{alertInfo.info}}</span></div>

<div class = "pull-left" id = "homepage">
 	<div ui-view ></div>
</div>


<div class="pull-right">
    <div class="box-author-info">
        <div class="author-face">
            <a href="#">
                <img src="<%=req_user.avatar%>">
            </a>
        </div>
        <div class="author-name">
            <a href="#"><%=req_user.username%></a>
        </div>
       
        <ul class="author-article-pl">
			<% if (is_now_user) { %>
				<li><a ui-sref="marks">收藏的文章</a></li>
				<li>
					<a ui-sref="goods">点赞的文章</a>
				</li>
				<li><a href="">我的关注</a></li>
				<li>
					<a href="">我的粉丝</a>
				</li>
				<li><a ui-sref = "myarticle">发布的文章</a></li>
				<li><a ui-sref ="mydrafts">草稿箱</a></li>
				<li><a ui-sref ="mychecking">待审核文章</a></li>
				<li><a ui-sref ="myfail">未通过文章</a></li>
				<li><a ui-sref ="mytrash">回收站</a></li>
				<li>
					<a href="/updateuserinfo">用户设置</a>
				</li>

			<% }else{ %>
				<li>
					<a ng-click = "follow()">{{follow_state_text}}</a>
				</li>
			<% } %>
       </ul>
  </div>
</div>
</div>

<script src = "/javascripts/homepage.js"></script>
<%- include footer%>
