<%- include header %>
<div id = "nav2"></div>
<div class = "container" ng-app = "homePageModule" ng-init = "requid = '<%=req_user._id%>' ; completed = false">

<div class = "pull-left" id = "homepage">
 	<div ui-view ></div>
</div>


<div class="pull-right">
    <div class="box-author-info">
        <div class="author-face">
            <a href="#">
                <img src="<%=req_user.avatar%>">
            </a>
        </div>
        <div class="author-name">
            <a href="#"><%=req_user.username%></a>
     
        </div>
       
        <ul class="author-article-pl">
			<% if (is_now_user) { %>
				<li><a href="">我的收藏</a></li>
				<li><a href="">我的关注</a></li>
				<li><a ui-sref = "myarticle">我的文章</a></li>
				<li><a ui-sref ="mydrafts">草稿箱</a></li>
				<li><a ui-sref ="mychecking">待审核文章</a></li>
				<li><a href="">未通过文章</a></li>
				<li><a href="">回收站</a></li>
			<% }else{ %>
				<li class="follow">
					<a href="/follow">关注</a>
				</li>
			<% } %>
       </ul>
  </div>
</div>
</div>

<script src="/javascripts/angular.min.js"></script> 
<script src="/javascripts/angular-ui-router.min.js"></script> 
<script src = "/javascripts/homepage.js"></script>
<%- include footer%>
