<%- include header %>

<div id = "nav2" style="background:#f5f5f5;"></div>

<div  style="background:#f5f5f5; overflow:hidden;min-width:1170px;">

<div class = "container" ng-app="myArticlesModule" ng-controller = "MyArticlesController" ng-init = "completed = false" >
<div class = "pull-left" style="background:white; margin-bottom: 20px; position: relative; ">
	<!--<myarticles myarticles-attr = "myarticles" completed-attr = "completed"></myarticles>-->
	
</div>

<div class="pull-right" >
	
</div>
</div>
</div>
 
<script src="/javascripts/angular.min.js"></script> 

<script src = "/javascripts/myarticles.js"></script>
<%- include footer %>