<div class="edui-default" id="edui1_iframeupload">
	<form id="edui_form_j7fp2zdf" target="edui_iframe_j7fp2zdf" method="POST" enctype="multipart/form-data" action="http://localhost:3000/ueditor/ue" >
		<input id="edui_input_j7fp2zdf" type="file" accept="image/*" name="upfile" style="display:block;width:20px;height:20px;overflow:hidden;border:0;margin:0;padding:0;position:absolute;top:0;left:0;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity: 0;opacity: 0;cursor:pointer;">
	</form>
	<iframe id="edui_iframe_j7fp2zdf" name="edui_iframe_j7fp2zdf" style="display:none;width:0;height:0;border:0;margin:0;padding:0;position:absolute;"></iframe>
	</div>