<%- include header %>

<div id = "nav2" style="background:#f5f5f5;"></div>

<div  style="background:#f5f5f5; overflow:hidden;min-width:1170px;">

<div class = "container" ng-app="postModule" ng-controller = "EditController" ng-init = "completed = false" >
<div class = "pull-left" style="background:white; margin-bottom: 20px; position: relative; ">
		
	<form method="post" id = "articleForm" name = "articleForm"  action = "/post">
	  <input type="text" name="title" id = "post-title" placeholder = "请输入标题,1-30个字" value="" ng-model = "nowarticle.atitle" />
	  <input type="hidden" name="post_id" ng-model = "nowarticle._id" value = "{{nowarticle._id}}" />
	  <script id="editor" type="text/plain" style="width:715px;height:600px;"></script>
	  <div class="tg-tabs-group">
	  	   <span class = "article-tip">文章摘要： </span> 
		   <textarea name = "abrief" id = "abrief"  class = "abrief" ng-model = "nowarticle.abrief" ></textarea>
	  </div>
	  <div class="tg-tabs-group">
	  	  <span class = "article-tip">文章分类：</span> 
		  <select nowarticle-attr = "nowarticle" ng-model="nowarticle.mychannel" ng-options="channel.name as channel.name group by channel.group for channel in Channels" name = "channel"></select>
	  </div>
	  <div class="tg-tabs-group">
	    	  <span class = "article-tip">关键字： </span> 
	  	 <input type="text"  name = "tag1" class = "tag" ng-model = "nowarticle.keywords[0]"/>
	  	 <input type="text"  name = "tag2"  class = "tag" ng-model = "nowarticle.keywords[1]"/>
	  	 <input type="text"  name = "tag3"  class = "tag" ng-model = "nowarticle.keywords[2]"/>
	  	 <input type="text"  name = "tag4"  class = "tag" ng-model = "nowarticle.keywords[3]"/>
	  	  
	  </div>
	  <div class="tg-btn-group">
		  <input type="button" value="发布文章" class="btn-publish" onclick="submitFun(2);" ng-if = "nowarticle._id"/>
		  <input type="button" value="保存草稿" class="btn-caogao" onclick="submitFun(1);" />
		  <input type="hidden" name="status" >
	  </div>
	</form>
</div>

<div class="pull-right" >
	<drafts drafts-attr = "drafts" nowarticle-attr = "nowarticle" completed-attr = "completed"></drafts>
</div>
</div>
</div>
 
<script type="text/javascript" charset="utf-8" src="/plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/plugins/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="/javascripts/angular.min.js"></script> 

<script src = "/javascripts/post.js"></script>
<%- include footer %>