<div>
<h2>{{page_title}}</h2>
<script type="text/ng-template" id="myModalContent.html">
	<div class="modal-header">
		<h3 class="modal-title">提示信息</h3>
	</div>
	<div class="modal-body">
		<p>确定{{text}}文章？</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ok()">
            确认</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">
            取消</button>
	</div>
</script>

<div ng-if = "completed" >
<p class = "zanwu" ng-if = "!myarticles.length">暂无文章</p>

<div class="mod-b" ng-repeat = "myarticle in myarticles track by $index">	
	<!--栏目链接-->
	<a href="http://localhost:3000/getchannelarticles?channel={{myarticle.mychannel}}" class="column-link" target="_blank">{{myarticle.mychannel}}</a>
	<div class="dropdown " ng-if="is_now_user && (status===1||status===3||status===4)">
		<button class="btn btn-default article-handler" data-toggle="dropdown" type="button">
		    		     <span class="caret"></span>
		    		</button>
		<ul class="dropdown-menu" >
			<!--所有人-->
			<li class="pl-report" ng-if="status===1"><a href = "/edit?pid={{myarticle._id}}">编辑</a></li>
			<li class="pl-report" ng-if="status===4">
				<a ng-click = "handleArticles('regret',myarticle._id)" >还原</a>
			</li>
			<li class="pl-report" ng-if="status===1||status===3"><a ng-click="handleArticles('delete',myarticle._id)">删除</a></li>
			<li class="pl-report" ng-if="status===4">
				<a ng-click="handleArticles('trashdelete',myarticle._id)">彻底删除</a>
			</li>
		</ul>

	</div>
	<div class="mod-thumb">
		<a class="transition" href="/article/{{myarticle._id}}" target="_blank">
			<img style="display: inline;" src="{{myarticle.main_picture}}" alt="{{myarticle.atitle}}">
		</a>
	</div>
	<div class="mob-ctt">
		<h3><a href="/article/{{myarticle._id}}" target="_blank">{{$index}}{{myarticle.atitle}}</a></h3>

		<div class="mob-author">
			<div class="author-face">
				<a href="/u/{{myarticle.author_info.username}}" target="_blank"><img src="{{myarticle.author_info.avatar}}"></a>
			</div>
			<a href="/u/{{myarticle.author_info.username}}" target="_blank">
				<span class="author-name">{{myarticle.author_info.username}}</span>
			</a>
			<span class="time">{{myarticle.adate | toTimeDiff}}</span>
			<i class="icon icon-fvr"></i><em>{{myarticle.amark.length}}</em>
			<i class="icon icon-dianzan"></i><em>{{myarticle.agood.length}}</em>
		</div>
		<div class="mob-sub">{{myarticle.abrief}}</div>
	</div>
</div>  
</div>
<div style = "padding: 16px; text-align: center;" ng-if = "!completed"><img src = "../images/loading.gif" /></div>
<div class="get-mod-more transition" ng-click = "getMore()" ng-if = "myarticles.length">{{getMoreText}}</div>
</div>